.projects-list {
  padding: 0 20px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}
.project-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.project-thumb {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.project-title {
  margin: 15px 0;
  font-weight: 700;
}

.project-title:hover {
  text-decoration: underline;
}

.disabled-overlay {
  position: relative;
}

.disabled-project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}

.project-card.disabled {
  pointer-events: none;
}

.disabled .project-thumb {
  filter: invert(0.3);
}

@media (min-width: 1023px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-wrapper {
  position: fixed;
}

.project-details {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
img.default {
  height: auto;
    max-width: 100%;
    vertical-align: middle;
    max-height: 200px;
    object-fit: cover;
}
 .link {
  display: block;
  height: 50px;
  background-color: black;
  color: white;
}
.link.secondary {
  background-color: royalblue;
}
.about-project {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}
.about-project h2 {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}
.about-project > p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: 17px;

}

.links {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.link {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  text-decoration: none;
}

.link.primary {
  margin-bottom: 10px;
  background-color: royalblue;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.pill {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
  margin-right: 11px;
}
/* 
.project-details {
  display: grid;
  grid-template-columns: 57% 1fr;
  grid-gap: 12px;
} */
