* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-medium);
}

h2 {
  margin: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.layout p {
  margin: var(--space-medium) auto;
  width: 90%;
  line-height: 1.4;
}

.layout:nth-of-type(odd) {
  background-color: var(--color-beige);
}
