* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-medium);
}

body {
  color: var(--color-black);
  font-family: Quicksand, sans-serif;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}
img.default {
  height: auto;
  width: 100%;
  object-fit: contain;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.layout h2 {
  margin: 25px 0;
  text-align: center;
  line-height: 1.3;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: var(--color-white);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.descriptions p {
  margin: var(--space-medium) auto;
  margin-top: 0;
  width: 95%;
  line-height: 1.4;
}

.layout:nth-of-type(odd) {
  background-color: var(--color-beige);
}


@media (min-width: 1025px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "title title"
                          "aside content";
  }
  .section-title {
    grid-area: title;
  }
  
  .descriptions {
    grid-area: aside;
  }
  
  .main {
    grid-area: content;
  }
  .layout h2  {
    margin: var(--space-medium) 35px;
    text-align: left;
  }
}
