* {
  box-sizing: border-box;
}

body {
  color: var(--color-black);
  font-family: Quicksand, sans-serif;
  font-weight: normal;
}

img.default {
  height: auto;
  width: 100%;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.App {
  height: 100vh;
  width: 100%;
  line-height: 1.3;
  background-color: var(--color-white);
}

.page-section .container {
  display: flex;
  flex-direction: column;
}

.page-section:nth-of-type(odd) {
  background-color: var(--color-beige);
}

.page-section h2 {
  margin: var(--space-big) 0;
  text-align: center;
  text-transform: uppercase;
}

.descriptions p {
  margin: var(--space-medium) auto;
  margin-top: 0;
  width: 95%;
  line-height: 1.4;
}

/* Media queries */
@media (min-width: 1025px) {
  .page-section .container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "aside content";
  }
  .section-title {
    grid-area: title;
  }

  .descriptions {
    grid-area: aside;
  }

  .main {
    grid-area: content;
  }
  .page-section:not(.hero) .section-title {
    margin: var(--space-medium) 15px;
    text-align: left;
  }
}
